{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"env": { "node": true },
	"plugins": ["@typescript-eslint", "import"],
	"extends": [
		"eslint:recommended",
		// "plugin:import/recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"parserOptions": {
		"sourceType": "module"
	},
	"rules": {
		"no-unused-vars": "off",
		"import/no-cycle": "error",
		"no-mixed-spaces-and-tabs": "off",
		"@typescript-eslint/no-unused-vars": ["error", { "args": "none" }],
		"@typescript-eslint/ban-ts-comment": "off",
		"no-prototype-builtins": "off",
		"import/consistent-type-specifier-style": ["error", "prefer-top-level"],
		"@typescript-eslint/no-empty-function": "off"
	}
}
