/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.incomplete-files-settings-real-time-preview {
	text-align: left;
	max-width: 300px;
	white-space: pre-wrap;
	color: white;
}

.incomplete-files-settings-input {
	max-width: 300px;
	min-width: 300px;
	min-height: 200px;
}

.incomplete-files-settings-input-outer {
	flex-direction: column;
	align-items: flex-start;
	max-width: 300px;
}

.setting-item.incomplete-files-settings-template-setting,
.setting-item.incomplete-files-settings-ignored-folders-setting {
	align-items: flex-start;
}

.incomplete-files-reason > svg {
	margin-right: 6px;
	height: 16px;
	width: 16px;
	min-width: 16px;
	min-height: 16px;
}

.incomplete-files-reason[data-reason="EMPTY_CONTENT"] svg {
	stroke: var(--color-red);
}

.incomplete-files-reason[data-reason="EMPTY_CONTENT_HEADING"] svg {
	stroke: var(--color-yellow);
}

.incomplete-files-reason[data-reason="INCOMPLETE_SYNTAX"] svg {
	stroke: var(--color-orange);
}
